/* Put your style information here! */
:root {
  --accent: #ff5851;
  --background: #ecececec;
}
.home {
  background-color: var(--background);
}
.main {
  max-width: 650px;
  margin: auto;
  padding: 10px;
}
h1 {
  color: var(--accent);
  font-weight: 800;
}
h2 {
  margin-top: 1.5rem;
}

h3 {
  font-size: 18pt;
}

p {
  margin-bottom: 0;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 20px;
}
.name {
  font-size: 40pt;
  font-weight: 800;
  text-align: center;
}

.center {
  text-align: center;
}

.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
a {
  background-color: none;
}
.project-container {
  background-color: #414141;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.project-container:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.03);
  color: var(--accent);
}

.card {
  text-decoration: none;
  color: black;
  width: 100%;
  border: none;
  padding: 10px;
  background-color: #ecececec;
}

nav {
  padding: 15px;
  /*display: flex;
  align-items: baseline; */
  background-color: #414141;
  /* color: var(--accent);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; */
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-left: 30px;
}

nav ul li a {
  color: white;
}

nav ul li a:hover {
  color: var(--accent);
}

.gohome {
  color: white;
}

.gohome:hover {
  color: var(--background);
}
